export(
	newSparkLine,newSparkBar,newSparkBox,newSparkTable,reshapeExt,newGeoTable,newSparkHist,
	setParameter,getParameter,plotSparks,plotSparkTable,plotGeoTable
	,optimal_grid_allocation,checkerplot,summaryST
)
exportClasses(sparkline,sparkbox,sparkbar,sparkTable,geoTable)
import(xtable,RGraphics,StatMatch,Rglpk)
import(Cairo,ggplot2,gridExtra,methods,pixmap)
importFrom(graphics, plot)
