export(
  newSparkLine,newSparkBar,newSparkBox,newSparkTable,reshapeExt,newGeoTable,newSparkHist,
  setParameter,getParameter,
  optimal_grid_allocation,checkerplot,summaryST,showSparkTable,customizeSparkTable
)
exportClasses(sparkline,sparkbox,sparkbar,sparkTable,geoTable)
exportMethods("plot", "export")
import(xtable,RGraphics,boot,shiny,Rglpk)
import(Cairo,ggplot2,grid,gridExtra,methods,pixmap)
importFrom("graphics", "box", "hist", "par", "text")
importFrom("grDevices", "col2rgb", "rgb","as.raster")
importFrom("stats", "dist", "median", "na.omit", "quantile", "reshape")
importFrom("utils", "packageDescription", "packageVersion")
