export(
	newSparkLine,newSparkBar,newSparkBox,newSparkTable,reshapeExt,newGeoTable,newSparkHist,
	setParameter,getParameter,plotSparks,plotSparkTable,plotGeoTable
	,optimal_grid_allocation,checkerplot,summaryST
)
exportClasses(sparkline,sparkbox,sparkbar,sparkTable,geoTable)

importFrom(graphics, plot)
